__pycache__/
clustering_basic_benchmark/
data
evaluation
evaluation_mnist
evaluation_noisy
lsh
lsh_multiclass_classification
lsh_noisy
results
environment.yml
eval_on_real_dataset_all.ipynb
eval_on_real_dataset.ipynb
main_gnn copy.py
main_gnn_cpu_20241113.py
main_gnn_regression.py
main.py
MLP_LSH_test.ipynb
archived/